@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
	a, span, p{
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 14px;
		font-weight: 600;	
	}
	body{
		margin: 0 auto;
		padding: 0 auto;
	}
	#wrap{
		width: 100%;
		padding-top: 180px;
		height: 3000px;		
	}
	header{
		width: 100%;
		height: 160px;
		border: 1px solid red;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	#header_top{
	background: linear-gradient(90deg, #D32EB2 0%, rgba(12, 114, 199) 100%);
		width: 100%;
		height: 100px;
		display: flex;
		justify-content:space-evenly;
		align-items: center;	
	}

	#search_menu{
		display: flex;
		justify-content:center;
		align-items: center;	
	}
	#header_menu{
		width: 320px;
		align-items: center;
	}
	#header_menu .menu{
		display: inline-block;
	}
	#header_menu .menu a{
		text-decoration: none;
		color: white;
	}
	#top_search{
		width: 410px;
		height: 44px;
		border: none;
		background: #FFFFFF;
	}
	#top_menu{
		background: white;
		width: 100%;
		height: 60px;
		box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
		margin: 0 auto;
		text-align:center;
		vertical-align: middle;
	}
	#top_menu div{
		margin: 0 3%;
		display: inline-block;
		line-height: 60px;
	}
	#top_menu div a{
		text-decoration: none;
		color: #454545;
	}
	#top_menu div a:hover {
		color: 6060C2;
	}
	#top_content{
		border: 1px solid;
		width: 1300px;
		height: 531px;
		margin: 0 auto 3em;		
	}
	#top_content #bbs{
		width: 938px;
		height: 100%;
		margin-right: 32px;
		border: 1px solid;
		display: inline-block;
	}
	#top_content #health_pick{
		float: right;
		display: inline-block;
		width: 274px;
		height: 100%;
		border: 1px solid;
	}
	#market_content{
		text-align: center;
		margin: 0 auto 3em;
		width: 1302px;
		border: 1px solid;
	}
	#market_content #item_area{
		display: flex;
		justify-content: space-between;
	}
	#market_content span{
		font-size: 30px;
		font-weight: 500;	
	}
	#market_content .market_item{
		margin-top: 1em;
		width: 230px;
		height: 270px;
		border: 1px solid;
	}
	#news{
		margin: 0 auto 3em;
		width: 1302px;
		height: 728px;
		border: 1px solid;
	}
	#ranking_area{
		margin: 0 auto 3em;
		width: 1302px;
		height:456px;
		border: 1px solid;
	}	
	#r_text_area{
		margin: 2em 0 2em 2em;		
	}
	#r_text_area span{
		font-size: 30px;
		font-weight: 500;
	}
	#userRank{
		margin: 0 auto;
		width: 100%;
		display: flex;
		justify-content: space-around;
	}
	#userRank .Rank{
		width: 230px;
		height: 270px;
		border: 1px solid;
	}
